{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        SoulPaw
      {% endblock %}
    </title>
  </head>
  <body>
      <div class="flex items-center p-3 sp-purple m-8">
        <img src="{%static 'css/dist/img/soulpawlogoimg.gif' %}" alt="SoulPaw Logo 2" class="w-15 h-auto pl-6"/>
        <img src="{%static 'css/dist/img/soulpawlogo.gif' %}" alt="SoulPaw Logo" class="w-26 h-6 p-0"/>
      </div>
      {% block content %}{% endblock %}   
      {% block dog_matches %}{% endblock%}
      {% block dog_details %}{% endblock %}
  </body>
</html>